<div #sticky [class.sticky] = "sticky">
    <div class="row" >
        <div class="col-xs-12">
            <h1>{{job?.jobTitle}}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p>{{job?.jobDiscription}}</p>
            <p>{{job?.jobCategory}}</p>
            <p>{{job?.jobType}}</p>
            <p>{{job?.requiredExperience}}</p>
            <p>{{job?.requiredSkills}}</p>
        </div>
    </div>
</div>
    

    

  
  
