<mat-toolbar color="primary">
    <mat-toolbar-row>

    <a mat-button routerLink="home"><h1 >Top Jobs </h1></a>

    <a mat-button routerLink="portal">Portal</a> 
    <a mat-button routerLink="Departments">Departments</a>
    <span class="example-spacer"></span>
    <a mat-button routerLink="register" *ngIf="!isLoggedIn">Register</a>
     
       
    <a mat-button routerLink="login" *ngIf="!isLoggedIn">Login</a>

        
   <a mat-button routerLink="home" *ngIf="isLoggedIn" (click)='logout()'>Logout</a>
    <a mat-button routerLink="profile" *ngIf="isLoggedIn"><img src="https://www.seekpng.com/png/detail/115-1150456_avatar-generic-avatar.png" alt="Employer" class="rounded-circle" height="50" width="50"/></a>
    </mat-toolbar-row>
</mat-toolbar>
