<div class="row">
<div class="col-xs-12">
    <br/>
    <a mat-raised-button color="primary" (click)="postJob();">New Posting</a>
</div>
</div>
<br/>
<div class="row">
<div class="col-xs-12" *ngIf="jobs.length > 0; then show else noshow"> </div>
</div>

<ng-template #show>
    <ul class="list-group" *ngFor = 'let job of jobs'>
        <app-job-item [job]="job" (click)="onSelected(job);"></app-job-item>
    </ul>
</ng-template>
<ng-template #noshow>
    <p>No jobs found</p>
</ng-template>
<!-- 
<app-job-detail (deletedJob)="deleteJob($event)"></app-job-detail> -->

  




